body {
  box-sizing: border-box;
  font-size: 1.84em !important;
  font-weight: 700 !important;
  line-height: 1.3;
  font-family: "Lato", sans-serif !important;
  color: var(--color-text) !important;
}

.default {
  --color-bg: #282d6d;
  --color-text: #eceaea;
  --color-display: #0e1027;
  --color-calculator-bg: #1d204b;
  --color-keys-bg: #cfcece;
  --color-keys-text: #242424;
  --color-keys-border: #cacaca;
  --color-keys-equal-bg: #e22c26;
  --color-keys-equal-border: #b9231e;
  --color-keys-reset-bg: #5e63af;
  --color-keys-reset-border: #404481;
}

.light {
  --color-text: #242424;
  --color-bg: #e2e2e2;
  --color-display: #eeeeee;
  --color-calculator-bg: #d1d1d1;
  --color-keys-bg: #e9e9e9;
  --color-keys-text: #242424;
  --color-keys-border: #bdb9b9;
  --color-keys-equal-bg: #c94821;
  --color-keys-equal-border: #a0451b;
  --color-keys-reset-bg: #1b756e;
  --color-keys-reset-border: #215044;
}

.dark {
  --color-text: #eceaea;
  --color-bg: #210631;
  --color-display: #2a083f;
  --color-calculator-bg: #2a083f;
  --color-keys-bg: #3f0d5e;
  --color-keys-text: #e6d32e;
  --color-keys-border: #a317ce;
  --color-keys-equal-bg: #26e2b3;
  --color-keys-equal-border: #23e6cc;
  --color-keys-reset-bg: #731091;
  --color-keys-reset-border: #8f13b4;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  align-items: center;
  background-color: var(--color-bg) !important;
  height: 100vh;
  padding-top: 150px;
}

/* full button reset */

button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left;
}

.calculator-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em !important;
  overflow: hidden;
}

.calculator-container .calculator-display {
  background-color: var(--color-display);
  color: var(--color-text);
  font-size: 1.814285714em;
  padding: 0.5em 0.75em;
  text-align: right;
  margin-bottom: 30px;
  border-radius: 8px;
}

.calculator-container .calculator-keys {
  background-color: var(--color-calculator-bg);
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 8px;
  padding: 25px;
}

.calculator-container .calculator-keys > * {
  background-color: var(--color-keys-bg);
  color: var(--color-keys-text);
  padding: 0.5em 1.25em;
  position: relative;
  text-align: center;
  border-radius: 10px;
  border-bottom: 4px outset var(--color-keys-border);
}

.calculator-container .calculator-keys > *:active::before,
.calculator-container .calculator-keys > .is-depressed::before {
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  border-radius: 10px;
}

body.dark .calculator-container .calculator-keys > *:active::before,
body.dark .calculator-container .calculator-keys > .is-depressed::before {
  background-color: rgba(255, 255, 255, 0.5);
}

body:not(.dark) .calculator-container .calculator-keys > *:active::before,
body:not(.dark) .calculator-container .calculator-keys > .is-depressed::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.calculator-container .key-equal {
  background-color: var(--color-keys-equal-bg);
  color: #eee;
  border-bottom: 4px outset var(--color-keys-equal-border);
}

.calculator-container .key-delete,
.calculator-container .key-reset {
  background-color: var(--color-keys-reset-bg);
  border-bottom: 4px outset var(--color-keys-reset-border);
  color: #eee;
}

.calculator-container .calculator-keys > button:nth-last-child(1),
.calculator-container .calculator-keys > button:nth-last-child(2) {
  grid-column: span 2;
}

/* Theme switch */

.theme-switcher-container p {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 0 !important;
  margin-right: 25px;
}

.theme-switcher-container .theme-toggler {
  background-color: var(--color-display);
  height: 30px;
  width: 70px;
  border-radius: 50px;
}

.theme-switcher-container .theme-toggler .toggler-ball {
  display: block;
  position: relative;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  top: 4px;
  transform: translateX(5px);
  transition: transform 0.2s linear, opacity 0.2s linear;
  opacity: 1;
}

body.default .theme-switcher-container .theme-toggle .toggler-ball {
  background-color: var(--color-keys-equal-bg);
}

body.dark .theme-switcher-container .theme-toggle .toggler-ball {
  background-color: var(--color-keys-equal-bg);
  transform: translateX(25px);
}

body.light .theme-switcher-container .theme-toggle .toggler-ball {
  background-color: var(--color-keys-equal-bg);
  transform: translateX(45px);
}

/* Media */

@media screen {
  .calculator-keys {
    grid-gap: 15px !important;
  }

  .calculator-keys > * {
    padding: 5px;
  }
}
